<img src="/bg2.jpg" class="about-banner">

<div class="row">
	<% for @h in @helps %>
		<div class="col-12 mar">
			<h3> <%= @h.title %> </h3>
		</div>
		<div class="col-8">
			<p class="text-col"> <%= simple_format(@h.content) %> </p>
		</div>
	<% end %>
</div>

<style>
	.about-banner {
		width: 1305px;
		 height: 500px;
		  margin-left: -100px;
		  margin-top: -25px;
	}
	.mar {
		margin-top: 15px;
	}
	.bac {
		background-color: pink;
	}
	.btn-wid {
		width: 200px;
	}
</style>